aside{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  overflow: hidden;
}
.icon__menu img{
  width: 45px;
  height: 45px;
  margin-right: 15px;
  margin-top: 15px;
}
.icon__menu .menu{
  font-size: 30px;
  color: #9be0ff;
  margin-top: 15px;
  margin-right: 15px;
  display: none;
  cursor: pointer;
}
#barra-menu{
  background-color: #505050;
  height: 100vh;
  width: 0px;
  transition: 0.3s all; 
}
#barra-menu ul li{
  list-style: none;
  padding: 15px;
}
#barra-menu ul li a{
  color: #9be0ff;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
}
#barra-menu ul li a:hover{
  background-color: transparent;
  padding: 10px;
  transform: scale(1.1);
  transition: 0.5s;
  transition-duration: 0.9s;
  border-radius: 30px;
  border: 2px solid #9be0ff;
}

@media screen and (max-width:768px) {
  .icon__menu .menu{
    display: flex;
  }
  .container {
    width: 100%;
    padding: 30px 40px 40px 35px;
}
  .navegacao ul li{
    display: none;
  }
  .informacao__principal{
    width: 100%;
    height: 80%;
    flex-direction: column;
  }
  .informacao__perfil img{
    display: none;
  }
  .formacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 21px;
    height: 80%;
  }
  .projeto{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: -16px;
    height: 80%;
  }

}
@media screen and (max-width: 980px) {
  .informacao__principal{
    width: 100%;
    height: 80%;
    flex-direction: column;
  }
  .informacao__perfil img{
    display: none;
  }
  .formacao {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px 40px 35px ;
  }
  .projeto {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px 40px 35px ;
  }
}